// Colors
$color-blue: #6ca7fd;
$color-white: #fff;
$color-black-text: #444;


//Text 
.text-white {
  color: $color-white
}

#header {
  background-color: $color-blue;
  height: 43rem;

  >hr {
    position: absolute;
    top: 4rem;
    // bottom: 1rem;
    left: 0;
    width: 100%;
    // margin: 0 -16px;
    border: none;
    border-bottom: .5px solid $color-white;
    margin: 0;
  }

  .nav {
    height: 4.5rem;

    .logo {
      height: 100%;
    }
  }

  .showcase {
    height: 38.5rem;
    background: url("../img/showcase-image.png") no-repeat center/cover;

    .container {

      .show-gallery {
        width: 7rem;
        height: 3rem;
        background-color: $color-blue;
        border-bottom-left-radius: .4rem;
        border-bottom-right-radius: .4rem;
        text-transform: uppercase;
        text-align: center;
      }

      .showcase-box {
        .achievment {
          width: 12rem;
          height: 12rem;
          background-color: $color-white;
          color: $color-black-text;
          border-radius: 50%;
          border: .5px solid $color-blue;

          p {
            text-align: center;

            >span {
              font-size: 1.2rem;
            }
          }

          .icon-wrap {
            width: 40%;
            height: 40%;
            background-color: #6ca7fd;
            margin: auto;
          }

        }
      }
    }
  }
}