


#header {
  margin: 0;
  padding: 0;
  img {
    width: 100%;
    // overflow: hidden;
    // margin-left: -1rem;
    // margin-right: -1rem;
    // margin-top: -1rem;
  }
  .pos-abs {
    position: absolute;
    top: 0;
    left: -10px;
    right: -15px;
    // bottom: 0;
    width: 105%;
    // height: 105%;
  }
  .nav {
    //height: auto;
    // overflow: hidden;
    //background: url("../img/bg-header1.svg") no-repeat center/cover, url("../img/bg-header2.svg") no-repeat center/cover;
    
    
  }
  .showcase {
    height: 30rem;
    background: url("../img/showcase-image.png") no-repeat center/cover;
  }
}